@import "../../../Styles/mixin.scss";
.btn{
    background-color: var(--primary-color, #ffbc11);
    color: var(--text-color, rgba(0, 0, 0, 1));
    padding: 1rem 1.5rem;
    border-radius: .3125rem;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    -ms-border-radius: .3125rem;
    -o-border-radius: .3125rem;
    font-size: 1.125rem;
    font-weight: 700;
    @include prefix(box-shadow, 0 0 10px 0 rgba(0, 0, 0, 0.1));
    transition: all .3s ease;
    max-width: fit-content ;


    &:hover{
        color: var(--white-color, #fff);
        opacity: .9;
    }
}
.btn.large{
    padding: 1rem 2.5rem;
}

// style for button of mobile nav componnent
// style for Button
.mobile_btn{
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0;
    width: 100%;
    margin-top: 1.25rem;
    text-align: center;
}

// style for button of Hero Section componnent

.btnHero{
    background-color: black;
    color: white;

    &:hover{
        color: var(--primary-color, #ffbc11);
        opacity: .9;
    }
}

// style for button of  Section planet Adresse componnent

.btnAdresse{
    background-color: white;
    color: black;
    &:hover{
        color: var(--primary-color, #ffbc11);
    }

}
.btnAdresse2{
    background-color: black;
    color: white;
    border:  2px solid white;
    &:hover{
        background-color: white;
        color: black;
        border-color: black;

        
    }

}

// btn style for btn in browser section pizza
.btnBrowser{
    background-color: white;
    color: black;
    border: 2px solid black;

    &:hover{
        background-color: var(--primary-color, #ffbc11);
        color: white;
        border-color: #ffbc11;
    }
}


