@import "/src/Styles/mixin.scss";
:root {
    --container-width: 1200px;
    --website-width: 100%;
    --primary-color: #ffbc11;
    --bg-color-hex: #e93037;
    --white-color: #fff;
    --text-color:rgba(0, 0, 0, 1);

}


@media (max-width: 1600px) {
    :root {
        --container-width: 1200px;
    }
}

@media (max-width: 1510px) {
    :root {
        --website-width: 1510px;
    }
}

@media (max-width: 1509px) {
    :root {
        --website-width: 100%;
    }
}

@include large {
    :root {
        --container-width: 900px;
    }
}

@include medium {
    :root {
        --container-width: 700px;
    }
}

@include small {
    :root {
        --container-width: 88%;
    }
}

@include very-small {
    :root {
        --container-width: 94%;
    }
}