@import "../../../../Styles/mixin.scss";
.FooterLink{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
    color: var(--white-color,#fff);


        &>h4{
            font-size: 1.25rem;
            font-weight: bold;
            text-align: left;
        }

        &>ul{
            text-align: left;

        
    }
}

    .FooterLink li{
        font-size: 1.125rem;
        color: rgba($color: #fff, $alpha: 0.8);
        font-weight: 300;
        cursor: pointer;
        transition: all  0.3s ease-in;
        &:hover

{
            opacity: 0.9;
            color: rgba(255,255,255,0.9);
        }
}
.FooterLink li:not(:last-child){
    margin-bottom: .625rem;
}